# Flask Configuration
FLASK_APP=app.py
FLASK_ENV=development
SECRET_KEY=your-secret-key-here

# Database Configuration
# DATABASE_URL=mysql://username:password@localhost/bookmarkd

# AWS Hosted DATABASE
#   export DATABASE_URL=$(terraform output -raw db_connection_string)
#   to get something like:
# DATABASE_URL=mysql://example_user:example_password@bookmarkd-db-dev.cetaoq8plpau.us-west-2.rds.amazonaws.com:3306/bookmarkd

# Database (SQLite local dev)
SQLALCHEMY_DATABASE_URI=sqlite:///bookmarkd.db
SQLALCHEMY_TRACK_MODIFICATIONS=false

# GROQ API Key
GROQ_API_KEY=your_openai_api_key_here
